# Hugging Face Inference API Configuration
HF_API_KEY=your_hugging_face_token_here
HF_AUDIO_MODEL_ID=ehcalabres/wav2vec2-lg-xlsr-en-speech-emotion-recognition
HF_TEXT_MODEL_ID=j-hartmann/emotion-english-distilroberta-base

# Data Sources
DATA_FILE_PATH=../final_labeled_dataset.csv
